<ion-header>
    <ion-navbar>
  
	<ion-title item-start>
      <h2 class="navTitle">Home Page</h2>
		<div *ngIf="auth.user | async as user; else guest" class="avatarIcon" (click)="navigateToProfilePage()">
			<h3>{{ user.displayName }}</h3>
			<svg><use attr.xlink:href="assets/sprite.svg#{{user.avatar}}"></use></svg>
		</div>
	</ion-title>
    </ion-navbar>
  </ion-header>
  
  <!-- Template -->
  <ng-template #guest>
    <!-- user.avatar -->
    <div class="avatarNoUser" (click)="navigateToProfilePage()">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Welcome guest
    </div>
  </ng-template>

<ion-content>
  
<section class="topTen">
  
    <h2>Pupular Tv Shows</h2>
    <div class="tv">
      <div *ngFor= "let tv of tvList; let i = index" class="item" (click)="navigateToTvItem(tv.id)">
          <img src="{{imageSrc}}{{ tv.posters }}" alt="{{tv.name}}" style="width: 100%;">
      </div>
    </div>
  
    <h2>Popular Movies</h2>
    <div class="movies">
      <div *ngFor= "let movie of movieList; let i = index" class="item" (click)="navigateToMovieItem(movie.id)">
        <img src="{{imageSrc}}{{movie.posters}}" alt="{{movie.title}}">
      </div>
    </div>
  </section>

</ion-content>
