// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$color_bg: #1E2931;
$color_greyLight: #a9a5ab;
$color_blueDark: #354052;
$color_orangeDark: #e3a74d;
$color_blueDeep: #6e7d94;
$color_purple: #333c4b;
$color_brown: #937f5f;
$color_hover: #2B3443;
$color_greyText: #B9BFCA;
$color_blueShine: #00B4FE;
$color_greyMedium: #6F7E95;
$color_white: #f9fafb;
$color_cream: #EDF2F6;
$color_danger: #f53d3d;

@mixin darkbutton() {
  color: $color_white;
  background-color: $color_purple;
  padding: 1em;
  border-radius: 5px;
  transition: all 0.3s;
  border: none;

  &:hover {
      transform: scale(1.1);
      color: $color_blueShine;
  }
}

//Navbar style for all pages
div.toolbar-title.toolbar-title-md {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.toolbar-title.toolbar-title-md h2 {
  color: $color_bg;
  padding: 0;
  margin:0;
  font-size: 2rem;
  &:before {
    display: none;
  }

}

div.avatarIcon {
  display: inline-block;
  vertical-align: middle;
}

div.avatarIcon svg {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $color_bg;
  border-radius: 25px;
}

div.avatarIcon h3 {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  color: $color_bg;
  margin: 0;
  margin-right: 0.5em;
}


section.signIn {
	min-height: 100%;
	position: relative;

	background-image: url('../assets/imgs/rocket.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;

	& button.singInButton {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		padding: 2em;
		color: $color_white;
		background-color: $color_blueShine;
	}
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

